<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title><%= title %></title>
	<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../stylesheets/app.css">
</head>
<body id="main">
	<header class="container-fluid">
		<nav class="row">
			<div class="col-xs-4"><a href="<%= back %>"><</a></div>
			<div class="col-xs-4"><%= title %></div>
			<div class="col-xs-4 text-right"><a href="<%= login %>"><%= menu %></a></div>
		</nav>
	</header>
<script src="../javascripts/vue.js"></script>
<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/main.js"></script>
</body>
</html>